<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ArduinoPort" value="com3"/>
        <add key="PrintSettingsFolder" value="c:\rydata\PrintSettings\"/>
        <add key="PrintFilesFolder" value="c:\rydata\PrintFiles\"/>
        <add key="PrintFile" value="TestFile.svg"/>
    </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>